.entry-screen > img {
  width: 36.27%;
  height: auto;
  max-width: 136px;
  max-height: 161px;
  margin-bottom: 20px;
}

/* .entry-screen > button {
  width: 65.6%;
  height: 54px;
  max-width: 246px;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 37px;
  color: #d70900;
} */

.entry-screen > input {
  width: 65.6%;
  max-width: 246px;
  height: 43px;
  border-radius: 5px;
  border: none;
  padding: 0 0 0 10.47px;
  margin: 43px 0 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: #FB6B6B;
  /* opacity: 0.9; */
  background: #ffffff;
}

.entry-screen > input::placeholder {
  color: #ADADAD;
  /* opacity: 1; */
}

.entry-screen > button {
  width: 65.6%;
  max-width: 246px;
  height: 54px;
  border-radius: 5px;
}

.entry-screen > button.enable {
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #d70900;
}

.entry-screen > button.disable {
  background: #E8E8E8;
  color: #C0C0C0;
  border: none;
}

